TOKEN=
OWNER_ID=
LOG_CHANNEL_ID=


WHITELIST_IDS=


ANTI_NUKE_WINDOW_MS=10000
CHANNEL_DELETE_THRESHOLD=3
ROLE_DELETE_THRESHOLD=3
MEMBER_BAN_THRESHOLD=3
MEMBER_KICK_THRESHOLD=3
CHANNEL_CREATE_THRESHOLD=5
ROLE_CREATE_THRESHOLD=5
